body {
    
    background-color: rgb(232, 240, 235);
    text-align: center;
    


}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 40px;
    line-height: 0.5em;
    

}

.welcome {

    font-family: fantasy;
    font-size: 20px;
    
    

}












